mcp-server-reference/resources/n8n/Message_Eliza_Agent.json
{
  "name": "Message Eliza Agent",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "92a6b722-441c-4955-b9e4-7e02b5d3af85",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -180,
        -100
      ],
      "id": "b5ed3995-4647-481e-8023-bde17fd81d08",
      "name": "Webhook",
      "webhookId": "92a6b722-441c-4955-b9e4-7e02b5d3af85"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "9904ac0d-6f50-4fe6-90e3-50724fcd324f",
              "name": "message",
              "value": "What's your wallet address and balance?",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        40,
        -100
      ],
      "id": "60b8395b-3a24-45b0-9f2b-b6599874c8d2",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "url": "http://seiling-eliza-develop:3000/api/messaging/central-servers",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        260,
        -100
      ],
      "id": "bc6cd66e-d6c4-4918-86ce-d2512c3abc8b",
      "name": "Get Eliza Server"
    },
    {
      "parameters": {
        "url": "http://seiling-eliza-develop:3000/api/agents",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        -100
      ],
      "id": "e11acec3-6325-4e50-8f25-eaee25028fe8",
      "name": "List Agents"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://seiling-eliza-develop:3000/api/messaging/channels",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "n8n_channel"
            },
            {
              "name": "serverId",
              "value": "={{ $('Get Eliza Server').item.json.data.servers[0].id }}"
            },
            {
              "name": "description",
              "value": "n8n chat"
            },
            {
              "name": "type",
              "value": "text"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        -100
      ],
      "id": "8af63e00-5a1f-459d-b449-f2424d534803",
      "name": "Create Channel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://seiling-eliza-develop:3000/api/messaging/central-channels/{{ $json.data.channel.id }}/agents ",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "agentId",
              "value": "={{ $('List Agents').item.json.data.agents[0].id }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -100
      ],
      "id": "199216ba-0a49-45ed-a752-4a17e5d56b9d",
      "name": "Add Agent To Channel"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://seiling-eliza-develop:3000/api/messaging/submit",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel_id\": {{ JSON.stringify($('Add Agent To Channel').item.json.data.channelId) }},\n  \"server_id\": {{ JSON.stringify($('Get Eliza Server').item.json.data.servers[0].id) }},\n  \"author_id\": {{ JSON.stringify($('Get Eliza Server').item.json.data.servers[0].id) }},\n  \"content\": \"{{ $('Edit Fields').item.json.message }}\",\n  \"source_type\": \"user_message\",\n  \"raw_message\": {},\n  \"metadata\": {\n\n    \"channelType\": \"DM\",\n\n    \"isDm\": true,\n\n    \"targetUserId\": \"{{ $json.data.agentId }}\"\n\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        -100
      ],
      "id": "ea1cd84d-c527-43a6-bc90-906bbee5a8b6",
      "name": "Send Message1"
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1360,
        -100
      ],
      "id": "82215873-bdd2-472b-b579-edcb7619664d",
      "name": "Wait1",
      "webhookId": "e07b8a4c-2000-4f2e-ac8c-6f20a6373f29"
    },
    {
      "parameters": {
        "url": "=http://seiling-eliza-develop:3000/api/messaging/central-channels/{{ $json.data.channelId }}/messages",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        -100
      ],
      "id": "6770fa92-fd20-484e-be82-f118495e9c62",
      "name": "Get Response"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "5dadbe10-8667-4711-a53d-639736f73bed",
              "name": "response",
              "value": "={{ $json.data.messages[0].content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1800,
        -100
      ],
      "id": "884e1d7e-548e-446e-9f3b-e318bfcdbb21",
      "name": "Set Response"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        2020,
        -100
      ],
      "id": "0e9c119e-d467-4a32-8b8d-7fde0c57bd19",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "name": "First item",
          "code": 1
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Eliza Server": {
      "main": [
        [
          {
            "node": "List Agents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "List Agents": {
      "main": [
        [
          {
            "node": "Create Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Channel": {
      "main": [
        [
          {
            "node": "Add Agent To Channel",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Agent To Channel": {
      "main": [
        [
          {
            "node": "Send Message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Message1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Get Eliza Server",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Response": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "4e472838-e863-42ba-b339-bace79631245",
  "meta": {
    "instanceId": "e635ce1c13475bb02be3d807f52c2d696f1566c29cf7b6c474f64889cb8fe01a"
  },
  "id": "OFSzJE2wT5yihxni",
  "tags": []
}