mcp-server-reference/resources/n8n/Sei_MCP_Agent.json
{
  "name": "Sei MCP Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -780,
        -220
      ],
      "id": "1ebe68bb-09b9-4192-ade3-9084ff8c66cb",
      "name": "When chat message received",
      "webhookId": "468eef08-06b5-4b32-bc25-7c53b60f44d0"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}",
        "options": {
          "systemMessage": "You are a Sei Network AI Assistant. You can use the MCP Clients to List Tools and then to Execute Tools.\n\n\nTo get your address (user's address) just call the \"get_address_from_private_key\" tool (private key is set as env variable on the server) with no parameters.\n\n\nAlways list tools to get tools names and its input json properties before executing tools.",
          "maxIterations": 3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        -520,
        -220
      ],
      "id": "7d3cbbb9-9819-42d1-91bd-0d08ad4e4844",
      "name": "AI Agent",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -560,
        0
      ],
      "id": "0248c4b0-551e-4491-850a-d452f2e57d47",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "R35cXfX48phqiM1N",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use MCP client to call execute tools",
        "connectionType": "http",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('Tool_Name', `Name of the tool to call using this format get_supported_networks, get_balance`, 'string') }}",
        "toolParameters": "={{ $fromAI('Tool_Parameters', `Tool Call Paramenters / Arguments, include all required arguments in json format with keys suck as address, tokenAddress, network and others`, 'string') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -300,
        20
      ],
      "id": "7b8485fe-7f06-4228-8b27-af36f0b19a06",
      "name": "Execute Tools",
      "retryOnFail": true,
      "credentials": {
        "mcpClientHttpApi": {
          "id": "d3M94l0qirvCx9w7",
          "name": "MCP Client HTTP"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -480,
        0
      ],
      "id": "da59cb21-8bbe-4e2b-8b24-3f92217aa9fc",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "Use this MCP client to list tools and required parameters",
        "connectionType": "http"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        -400,
        20
      ],
      "id": "9a81f08a-e6af-41c4-acc5-6638b9a814c1",
      "name": "List Tools1",
      "retryOnFail": false,
      "credentials": {
        "mcpClientHttpApi": {
          "id": "d3M94l0qirvCx9w7",
          "name": "MCP Client HTTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Execute Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "List Tools1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c40cd755-9829-4587-8fa7-67668dcba4ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e635ce1c13475bb02be3d807f52c2d696f1566c29cf7b6c474f64889cb8fe01a"
  },
  "id": "nmy7LKInfBlBeRfw",
  "tags": []
}