mcp-server-reference/packages/sei-mcp-server/examples/Sei MCP Agent v0.json
{
  "name": "Sei MCP Agent v0",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        -160,
        -120
      ],
      "id": "fe64491c-3044-4278-b88c-8bf1c4168012",
      "name": "When chat message received",
      "webhookId": "49ea7db0-e991-4969-b48e-21c5f14b9217"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}\nFor testnet you need to use sei-testnet as network. Always use the list tools action before executing any other tool\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        320,
        -120
      ],
      "id": "f52a78eb-9cfa-4ab1-ae90-54516e60dcfa",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "claude-3-5-sonnet-20241022",
          "mode": "list",
          "cachedResultName": "Claude Sonnet 3.5 (New)"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        280,
        100
      ],
      "id": "25af8f84-9309-4ed5-a600-35db05b537de",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "OJrypQXFDII3050Q",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "connectionType": "sse"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        440,
        100
      ],
      "id": "c412f8d2-b617-4e09-86b1-ffb697cbe8c2",
      "name": "MCP Client SSE: List Tools",
      "retryOnFail": false,
      "credentials": {
        "mcpClientSseApi": {
          "id": "C8AAcQBtqRlhsoXs",
          "name": "MCP Client SSE"
        }
      }
    },
    {
      "parameters": {
        "descriptionType": "manual",
        "toolDescription": "=Use this tool to interact with Sei Network. ",
        "connectionType": "sse",
        "operation": "executeTool",
        "toolName": "={{ $fromAI('tool_name') }}",
        "toolParameters": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Tool_Parameters', ``, 'json') }}"
      },
      "type": "n8n-nodes-mcp.mcpClientTool",
      "typeVersion": 1,
      "position": [
        600,
        100
      ],
      "id": "de47ad5a-1eae-486b-ae77-b0f99c843562",
      "name": "MCP Client SSE: Execute Tool",
      "retryOnFail": false,
      "credentials": {
        "mcpClientSseApi": {
          "id": "C8AAcQBtqRlhsoXs",
          "name": "MCP Client SSE"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        []
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client SSE: List Tools": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client SSE: Execute Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4cca143a-fabe-46dc-b90f-0663d7d8525d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "c63b87e2da352510b5929c6fa24016abce656e1da497fc77840608cfee7c87d5"
  },
  "id": "DrxauXKLW2nPrndB",
  "tags": []
}